{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for subscription in subscriptions %}
        <h4>id: {{ subscription.id }}</h4>
        <p>url: {{ subscription.url }}</p>
        <p>price: {{ subscription.price }}</p>
        <p>User email: {{ subscription.userId.email }}</p>
        <p>User name: {{ subscription.userId.name }}</p>
    {% endfor %}
{% endblock %}
